@model Hades.Web.ViewModels.UsuarioViewModel
@{
    Layout = "_PartialLayout.cshtml";
    ViewBag.Title = "Index";
    var mensagem = TempData["mensagem"]?.ToString() ?? "";
}

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    @using (Html.BeginForm("VerificarLogin", "Login", FormMethod.Post, new { @class = "card", @style = "width: 400px; background-color: #eeeeee; border-radius: 60px; border-style: initial; margin-left: 29%; height: 410px; " }))
    {
        <div style="width: 244px; margin-left: 80px;">
            <h1 style="text-align: center; font-family: Algerian; ">LOGIN:</h1>

            <div class="input-field col s12">
                <input id="NomeLogin" type="text" name="Nome" maxlength="100">
                <label for="NomeLogin" data-error="wrong" data-success="right">Nome</label>
            </div>

            <div class="input-field col s12">
                <input id="SenhaLogin" type="password" name="Senha" maxlength="20">
                <label for="SenhaLogin" data-error="wrong" data-success="right">Senha</label>
            </div>

            <div style="margin-top: 20px; margin-bottom: 10px; align-items: center;">
                <div>
                    <input type="submit" value="EFETUAR LOGIN" class="btn btn-success" style="height: 40px; margin-left: 30px; width: 75%; border-radius: 20px; font-size: 15px; background-color: #1976d2; " />
                    <p></p>
                    <button type="button" id="Novo" class="btn btn-primary" style="border-radius: 20px; margin-left: 30px; width: 75%; height: 40px; font-size: 15px; background-color: #b71c1c; ">NOVO USUARIO</button>
                </div>
            </div>
        </div>
    }

    <div id="modalCreateCliente" class="modal modal-fixed-footer"
         style="display: none; height: auto; width: 367px; z-index: 1003; opacity: 1; transform: scaleX(1); border-radius: 15px; top:10%;">
    </div>
</div>

<script>
    var urlsUsuario = {
        Create: '@Url.Action("CreateUsuario", "Login")'
    }

    $(document).ready(function () {
        
        $('.modal').modal();

        (function () {
            var msg = '@(!string.IsNullOrEmpty(mensagem)?mensagem:"")';

            if (msg != '') {
                Materialize.toast('' + msg + '', 4000, 'rounded red')
            }
        })();
    });

    $("#Novo").click(function () {
        $.get(urlsUsuario.Create)
            .done(function (data) { $('#modalCreateCliente').modal('open').html(data); })
            .fail(function (xhr) { Materialize.toast('' + xhr.responseText + '', 4000, 'rounded red') });
    });

    function escondeCreate() {
        $("#modalCreateCliente").modal('close');
    }
</script>
