@model Hades.Web.ViewModels.UsuarioViewModel
@{
    Layout = "_PartialLayout.cshtml";
    ViewBag.Title = "EUDORA";
    var mensagem = TempData["mensagem"]?.ToString() ?? "";
}

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    @using (Html.BeginForm("VerificarLogin", "Login", FormMethod.Post,
        new { @class = "card", @style = "width: auto; border-radius: 60px; position: absolute; border-style: initial; margin-left: 25.6%; height: 545px; " +
                                        "background-color: white; padding: 10px; border-radius: 15px; box-shadow: 0 0 30px black; " }))
    {
        <div style="width: 244px; margin-left: auto;">
            <div class="card-image">
                <img src="~/images/Bastet_CatScratch.png">
                <h5><span class="card-title" style="left: 130px; text-align: center; font-family: Algerian; color: black;">EUDORA</span></h5>
            </div>
            <div class="input-field col s12">
                <input id="NomeLogin" type="text" name="Nome" maxlength="100" class="text-box" onkeypress="verificaCaracteres(this)">
                <label for="NomeLogin" data-error="wrong" data-success="right">NOME OU EMAIL</label>
            </div>

            <div class="input-field col s12">
                <input id="SenhaLogin" type="password" name="Senha" maxlength="20" class="text-box">
                <label for="SenhaLogin" data-error="wrong" data-success="right">SENHA</label>
            </div>

            <div style="margin-top: 20px; margin-bottom: 10px; align-items: center;">
                <div>
                    <input type="submit" value="EFETUAR LOGIN" class="btn btn-confirm" style="height: 40px; margin-left: 30px; width: 75%; border-radius: 20px; 
                        font-size: 15px; background-color: #1976d2; " />
                    <p></p>
                    <button type="button" id="Novo" class="btn btn-default" style="border-radius: 20px; margin-left: 30px; width: 75%; height: 40px; font-size: 15px; 
                        background-color: #b71c1c; ">NOVO USUARIO</button>
                </div>
            </div>
        </div>
    }

    <div id="modalCreateCliente" class="modal modal-formatada"
         style="display: none; height: auto; width: 367px; z-index: 1003; opacity: 1; transform: scaleX(1); border-radius: 15px; top:10%;">
    </div>
</div>

<script>
    sessionStorage.setItem('NomeUsuarioLogado', '');
    sessionStorage.setItem('IdUsuarioLogado', '');

    var urlsLogin = {
        Create: '@Url.Action("CreateUsuario", "Login")',
        CreateConfirmed: '@Url.Action("CreateConfirmed", "Login")'
    }

    $(document).ready(function () {
        //storage.clear();
        $('.modal').modal();
    });

    var mensagemAviso = '@(!string.IsNullOrEmpty(mensagem)?mensagem:"")';

    mensagem(mensagemAviso);

    $("#Novo").click(function () {
        $.get(urlsLogin.Create)
            .done(function (data) {
                escondeCreate();
                $('#modalCreateCliente').modal('open').html(data);
            })
            .fail(function (xhr) { erro(xhr.responseText) });
    });

    function escondeCreate() {
        $("#modalCreateCliente").modal('close');
    }
</script>
