@model Hades.Web.ViewModels.UsuarioViewModel
@{
    Layout = "_PartialLayout.cshtml";
    ViewBag.Title = "Index";
    var mensagem = TempData["mensagem"]?.ToString() ?? "";
}

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>

@using (Html.BeginForm("VerificarLogin", "Login", FormMethod.Post, new { @class = "card", @style = "width: 400px; background-color: #eeeeee; border-radius: 60px; border-style: initial; margin-left: 400px;" }))
{
    <div style="width: 244px; margin-left: 80px;">
        <h1 style="text-align: center; ">LOGIN:</h1>
        <div class="editor-label" style="text-align: center; text-transform: uppercase; ">
            <label class="control-label col-md-2" style="color: black; font-weight: bold; font-size: 20px;">Nome</label>
        </div>
        <div class="editor-field" style="position: inherit">
            @Html.TextBoxFor(model => model.Nome, new { maxlength = 30, @class = "col-xs-6 col-sm-6 col-md-6 col-lg-6", @style = "width: 100%; height: 30px;" })
        </div>
        <br />

        <div class="editor-label" style="text-align: center; text-transform: uppercase;">
            <label class="control-label col-md-2" style="color: black; font-weight: bold; font-size: 20px;">Senha</label>
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Senha, new { maxlength = 15, @class = "col-xs-6 col-sm-6 col-md-6 col-lg-6", @style = "width: 100%; height: 30px;" })
        </div>

        <div style="margin-top: 20px; margin-bottom: 10px;">
            <div>
                <input type="submit" value="EFETUAR LOGIN" class="btn btn-success" style="height: 40px; margin-left: 30px; width: 75%; border-radius: 20px; font-size: 15px; "/>
                <p></p>
                @*@Html.ActionLink("NOVO USUARIO", null, null, new { @class = "btn btn-primary", @id = "Novo", @style = "width: 100%; height: 40px; font-size: 20px; font-family: Castellar, Helvetica, sans-serif;" })*@
                <button type="button" id="Novo" class="btn btn-primary" style = "border-radius: 20px; margin-left: 30px; width: 75%; height: 40px; font-size: 15px;">NOVO USUARIO</button>
            </div>
        </div>
    </div>
}
<div style="margin-top: 10px;">

    @*<button class="btn btn-success" style="height: 40px; font-size: 20px; font-family: Castellar, Helvetica, sans-serif;" onclick="mostraUsuario()">NOVO USUARIO</button>*@
</div>

<div id="divCriarUsuario" style="border-style: inset; padding: 2%; background-color: white; color: red; border-radius: 20px;"></div>

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
<script>
    var urlsUsuario = {
        Create: '@Url.Action("CreateUsuario", "Login")'
    }

    $("#Novo").click(function () {
        $.post(urlsUsuario.Create)
            .done(function (data) {
                $("#divCriarUsuario").show();
                $("#divCriarUsuario").slideUp(100, function () {
                    $("#divCriarUsuario").html(data).slideDown(200);
                });
            }).fail(function (xhr) {
                $("#divCriarUsuario").show();
                $("#divCriarUsuario").html(xhr.responseText);
            });
    });

    function escondeCreate() {
        $("#divCriarUsuario").hide();
    }

    escondeCreate();

    (function () {
        var msg = '@(!string.IsNullOrEmpty(mensagem)?mensagem:"")';

        if (msg != '') {
            $("#divCriarUsuario").show();
            $("#divCriarUsuario").html(msg);
        }
    })();
</script>
