@*@model Hades.Web.ViewModels.UsuarioViewModel*@

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSemNavBar.cshtml";
}

<div class="row" style="margin-top: 12px">
    <div class="col s12">
        <div class="row">
            <h4>NOVO USUÁRIO</h4>

            @using (Ajax.BeginForm("CreateConfirmed", "Usuario", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "buscaTabelaUsuario()",
                OnFailure = "erro(xhr)"
            }, new {htmlAttributes = new {@id = "Formulario"}}))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="input-field col s12">
                        <input id="NomeUsuario" type="text" name="Nome" maxlength="100" data-length="100" onkeypress="verificaCaracteres(this)">
                        <label for="NomeUsuario" data-error="wrong" data-success="right">NOME</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="Email" name="Email" type="email" class="validate" maxlength="100" data-length="100" onkeypress="verificaCaracteres(this)">
                        <label for="Email" data-error="Email Inválido" data-success="Correto">EMAIL</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="SenhaUsuario" type="password" maxlength="20" data-length="20">
                        <label for="SenhaUsuario" data-error="wrong" data-success="right">SENHA</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="ConfirmarSenha" type="password" maxlength="20" data-length="20">
                        <label for="ConfirmarSenha" data-error="wrong" data-success="right">CONFIRMAR SENHA</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="CRIAR" id="btnSalvar" class="btn btn-confirm waves-effect"/>
                        </div>
                    </div>
                </div>
            }
            <div style="margin-left: 110px; margin-top: -36px;">
                <button class="btn btn-default waves-effect" style="float: right" onclick="escondeModal()">CANCELAR</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('input#input_text, textarea#textarea1').characterCounter();
    });

    var urls = {
        createConfirmed: '@Url.Action("CreateConfirmed", "Usuario")'
    }

    $("#btnSalvar").click(function (e) {
        e.preventDefault();//cancela o post

        if ($("#NomeUsuario").val().length == 0 || $("#NomeUsuario").val().length < 3) {
            erro("Nome deve conter de 3 à 100 caracteres");
            return false;
        }

        if ($("#Email").val() == "") {
            erro("Email não pode ser vazio");
            return false;
        }

        if ($("#SenhaUsuario").val() == "" || $("#SenhaUsuario").val().length < 5) {
            erro("Senha deve conter de 5 até 20 caracteres");
            return false;
        }

        if ($("#SenhaUsuario").val() != $("#ConfirmarSenha").val()) {
            erro("Senhas não conferem");
            return false;
        }

        //$("#Formulario").submit();
        $.post(urls.createConfirmed, {
            Nome: $("#NomeUsuario").val(),
            Email: $("#Email").val(),
            Senha: $("#SenhaUsuario").val()
        }).done(function (data) {
            escondeModal();
            sucesso(data);
            buscaTabelaUsuario();
        }).fail(function (xhr) {
            erro(xhr.responseText);
        });
    });

</script>
