@model Hades.Web.ViewModels.SorteioViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSemNavBar.cshtml";
}

<div class="row" style="margin-top: 12px">
    <div class="col s12">
        <div class="row">
            <h4>Novo Sorteio </h4>

            @using (Html.BeginForm("CreateConfirmed", "Sorteio", FormMethod.Post, new { @class = "well" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="input-field col s12">
                        <input id="NomeSorteio" type="text" name="NomeSorteio" maxlength="20" data-length="20" />
                        <label for="NomeSorteio">Nome Sorteio</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="DataSorteio" type="text" name="DataSorteio" class="datepicker"/>
                        <label for="DataSorteio">Data Sorteio</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="QtdeItens" type="number" name="QtdeItens" min="1" max="100" />
                        <label for="QtdeItens">Qtde de Itens</label>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="Criar" class="btn btn-confirm" id="btnCriarSorteio" style="border-radius: 20px;" />
                        </div>
                    </div>
                </div>
            }
            <div style="margin-left: 110px; margin-top: -36px;">
                <button class="btn btn-default" style="float: right" onclick="escondeModal()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script>

    var usuarioLogado = sessionStorage.getItem("IdUsuarioLogado");

    $(document).ready(function () {
        $('input#input_text, textarea#textarea1').characterCounter();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Hoje',
            clear: 'Limpar',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
    });

    var dataHoje = '@DateTime.Today';

    $("#btnCriarSorteio").click(function () {
        if ($("#NomeSorteio").val().length <= 3) {
            erro("Nome do sorteio tem que estar entre 3 até 20 caracteres");
            return false;
        }

        if ($("#DataSorteio").val() == "" || $("#DataSorteio").val() < dataHoje){
            erro("Data do Sorteio deve ser válida");
            return false;
        }

        if ($("#QtdeItens").val() <= 0 || $("#QtdeItens").val() > 100) {
            erro("A quantidade tem que ser maior que zero e menor que 100");
            return false;
        }

        $.post('@Url.Action("CreateConfirmed", "Sorteio")', {
            Nome: $("#NomeSorteio").val(),
            DataSorteio: $("#DataSorteio").val(),
            QtdeItens: $("#QtdeItens").val(),
            IdCriador: usuarioLogado
        }).done(function () {
            escondeModal();
            sucesso("Sorteio cadastrado com Sucesso!");
            buscaTabelaSorteio();
        }).fail(function (xhr) {
            erro(xhr.responseText);
        });
    });

    function sucesso(message) {
        Materialize.toast('' + message + '', 4000, 'rounded green');
        return true;
    }

    function erro(message) {
        Materialize.toast('' + message + '', 4000, 'rounded red');
        return true;
    }
</script>
