@model Hades.Web.ViewModels.SorteioViewModel

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<h3>Novo Sorteio </h3>

@using (Html.BeginForm("CreateConfirmed", "Sorteio", FormMethod.Post, new { @class = "well" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sorteio</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2" style="color: black; font-weight: bold;">Nome</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-default" style="border-radius: 20px;" />
            </div>
        </div>
    </div>
}
<br/>
<p>
    <button class="btn btn-default" onclick="cancelar()" style="border-radius: 20px;">Cancelar</button>
</p>
<script>
    function cancelar() {
        buscaTabelaSorteio();
    }
</script>