@model Hades.Web.ViewModels.SorteioViewModel

@{
    ViewBag.Title = "Details";
    Layout = null;
}
<hr />
<div>
    <h3>Detalhes Sorteio</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    <ul>
        <li>
            <button value="Editar" class="btn btn-default" onclick="editar(model.Id)"></button>
        </li>
        <li>
            <button value="Cancelar" class="btn btn-default" onclick="cancelar()"></button>
        </li>
    </ul>
</p>
<hr />

<script>
    var urlsSorteio = {
        Edit: '@Url.Action("Edit", "Sorteio")'
    }

    function editar(id) {
        $.post(urlsSorteio.Edit, {
            id: id
        }).done(function (data) {
            $("#divContentSorteio").fadeOut(100, function () {
                $("#divContentSorteio").html(data).fadeIn(100);
            });
        }).fail(function (xhr) {
            $("#Acoes").html(xhr.responseText);
        });
    };

    function cancelar() {
        buscaTabelaSorteio();
    }
</script>