@model Hades.Web.ViewModels.SorteioViewModel

@{
    ViewBag.Title = "Details";
    Layout = null;
}
<div>
    <h4>Detalhes Sorteio</h4>
    <dl class="dl-horizontal">
        <dt> Nome: </dt>
        <dd> @Html.DisplayFor(model => model.Nome) </dd>
    </dl>
</div>
<p>
    <ul>
        <li>
            <button class="btn btn-default" onclick="editar(@Model.Id)" style="border-radius: 20px;">Editar</button>
       
            <button class="btn btn-default" onclick="cancelar()" style="border-radius: 20px;">Cancelar</button>
        </li>
    </ul>
</p>

<script>
    var urlsSorteio = {
        Edit: '@Url.Action("Edit", "Sorteio")'
    }

    function editar(id) {
        $.get(urlsSorteio.Edit, {
            id: id
        }).done(function (data) {
            $("#divContentSorteio").fadeOut(100, function () {
                $("#divContentSorteio").html(data).fadeIn(100);
            });
        }).fail(function (xhr) {
            $("#Acoes").html(xhr.responseText);
        });
    };

    function cancelar() {
        buscaTabelaSorteio();
    }
</script>