@model Hades.Web.ViewModels.SorteioViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutSemNavBar.cshtml";
}

<div class="row" style="margin-top: 12px">
    <div class="col s12">
        <div class="row">
            <h4>Novo Sorteio </h4>

            @using (Html.BeginForm("EditConfirmed", "Sorteio", FormMethod.Post, new { @class = "well" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="input-field col s12">
                        <input id="NomeUsuario" type="text" name="Nome" maxlength="20" data-length="20" value="@Model.Nome">
                        <label for="NomeUsuario">Nome</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="DataSorteio" type="text" name="DataSorteio" class="datepicker" value="@Model.DataSorteio">
                        <label for="DataSorteio">Data Sorteio</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="QtdeItens" type="number" name="QtdeItens" maxlength="5" data-length="5" value="@Model.QtdeItens">
                        <label for="QtdeItens">Qtde de Itens</label>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="Criar" class="btn btn-confirm" style="border-radius: 20px;" />
                        </div>
                    </div>
                </div>
            }
            <div style="margin-left: 110px; margin-top: -36px;">
                <button class="btn btn-default" style="float: right" onclick="escondeModal()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('input#input_text, textarea#textarea1').characterCounter();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Hoje',
            clear: 'Limpar',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
    });

    function cancelar() {
        buscaTabelaSorteio();
    }
</script>
