@using Hades.Web.Controllers
@model Hades.Web.ViewModels.SorteioViewModel

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<h3>Editar Sorteio</h3>


@using (Html.BeginForm("EditConfirmed", "Sorteio", FormMethod.Post, new { @class = "col s12" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sorteio</h4>
        <hr />
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label class="control-label col-md-2" style="color: black; font-weight: bold;">Nome</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" style="border-radius: 20px;" />
            </div>
        </div>
    </div>
}

<p>
    <button class="btn btn-default" onclick="cancelar()" style="border-radius: 20px;">Cancelar</button>
</p>

<script>
    function cancelar() {
        buscaTabelaSorteio();
    }
</script>