@*@model Hades.Web.ViewModels.EnqueteViewModel*@

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSemNavBar.cshtml";
}

<div class="row" style="margin-top: 12px">
    <div class="col s12">
        <div class="row">
            <h4>NOVA ENQUETE</h4>

            @using (Ajax.BeginForm("CreateConfirmed", "Enquete", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "buscaTabelaEnquete()",
                OnFailure = "erro(xhr)"
            }, new { htmlAttributes = new { @id = "Formulario" } }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="input-field col s12">
                        <input id="Titulo" name="Titulo" type="text" maxlength="20" data-length="20"
                               onkeypress="verificaCaracteres(this)">
                        <label for="Titulo">TÍTULO:</label>
                    </div>

                    <div class="input-field col s12">
                        <textarea id="Assunto" name="Assunto" class="materialize-textarea" maxlength="150" data-length="150"
                                  onkeypress="verificaCaracteres(this)"></textarea>
                        <label for="Assunto">ASSUNTO:</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="Valor" name="Valor" type="text" maxlength="10" data-length="10">
                        <label for="Valor">VALOR R$:</label>
                    </div>
                    <div class="input-field col s6">
                        <textarea id="LocalCotado" name="LocalCotado" class="materialize-textarea" maxlength="50" data-length="50"
                                  onkeypress="verificaCaracteres(this)"></textarea>
                        <label for="LocalCotado">LOCAL COTADO:</label>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="CRIAR" id="btnSalvar" class="btn btn-confirm waves-effect" />
                        </div>
                    </div>
                </div>
            }
            <div style="margin-left: 110px; margin-top: -36px;">
                <button class="btn btn-default waves-effect" style="float: right" onclick="escondeModal()">CANCELAR</button>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $('#Valor').mask("###.###,##", { reverse: true });
        $('input#input_text, textarea#textarea1').characterCounter();
    });
   
    $("#btnSalvar").click(function (e) {
        e.preventDefault();//cancela o post

        if ($("#Titulo").val() <= 5 || $("#Titulo").val() == "") {
            erro("Título deve conter de 5 à 20 caracteres");
            return false;
        }

        if ($("#Assunto").val() <= 5 || $("#Assunto").val() == "") {
            erro("Título deve conter de 5 à 150 caracteres");
            return false;
        }

        //$("#Formulario").submit();
        $.post('@Url.Action("CreateConfirmed", "Enquete")', {
            Titulo: $("#Titulo").val(),
            Assunto: $("#Assunto").val(),
            UsuarioId: sessionStorage.getItem('IdUsuarioLogado'),
            Valor: $("#Valor").val(),
            Nom_LocalCotado: $("#LocalCotado").val()
        }).done(function (data) {
            escondeModal();
            sucesso(data);
            buscaTabelaEnquete();
        }).fail(function (xhr) {
            erro(xhr.responseText);
        });
    });

</script>
