@model Hades.Web.ViewModels.EnqueteViewModel

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<h2>Nova Enquete</h2>


@using (Html.BeginForm("CreateConfirmed", "Enquete", FormMethod.Post, new { @class = "well" })) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        <div class="form-group">
            <label class="control-label col-md-2" style="color: black; font-weight: bold;">Titulo (Deve conter até 20 caracteres)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulo, new {htmlAttributes = new {@class = "form-control"}})
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" style="color: black; font-weight: bold;">Assunto (Deve conter de 10 à 150 caracteres)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Assunto, new {htmlAttributes = new {@class = "form-control"}})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default"/>
            </div>
        </div>
    </div>
}
<p>
    <button class="btn btn-default" onclick="cancelar()">Cancelar</button>
</p>
<script>
    function cancelar() {
        buscaTabelaEnquete();
    }
</script>