@model Hades.Web.ViewModels.EnqueteViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Enquete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Titulo: </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>Assunto:</dt>
        <dd>
            @Html.DisplayFor(model => model.Assunto)
        </dd>

        <dt>Data Enquete:</dt>
        <dd>
            @Html.DisplayFor(model => model.DataEnquete)
        </dd>
    </dl>
</div>
<p>
    <button value="Editar" class="btn btn-default" onclick="editar(model.Id)"></button>
    <button value="Cancelar" class="btn btn-default" onclick="cancelar()"></button>
</p>

<script>
    var urlsSorteio = {
        Edit: '@Url.Action("Edit", "Sorteio")'
    }

    function editar(id) {
        $.post(urlsSorteio.Edit, {
            id: id
        }).done(function (data) {
            $("#divContentEnquete").fadeOut(100, function () {
                $("#divContentEnquete").html(data).fadeIn(100);
            });
        }).fail(function (xhr) {
            $("#Acoes").html(xhr.responseText);
        });
    };

    function cancelar() {
        buscaTabelaEnquete();
    }
</script>