@model Hades.Web.ViewModels.CampanhaViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSemNavBar.cshtml";
}

<div class="row" style="margin-top: 12px">
    <div class="col s12">
        <div class="row">
            <h4>NOVO CAMPANHA</h4>

            @using (Html.BeginForm("CreateConfirmed", "Campanha", FormMethod.Post, new { @class = "well" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="input-field col s12">
                        <textarea id="DescCampanha" name="DescCampanha" 
                                  class="materialize-textarea" maxlength="100" data-length="100" onkeypress="verificaCaracteres(this)"></textarea>
                        <label for="DescCampanha">DESCRIÇÃO:</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="DataLimite" type="text" name="DataLimite" class="datepicker" />
                        <label for="DataLimite">DATA LIMITE</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="Valor" name="Valor" type="text" maxlength="10" data-length="10">
                        <label for="Valor">VALOR R$</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="CRIAR" class="btn btn-confirm waves-effect" id="btnCriarCampanha" style="border-radius: 20px;" />
                        </div>
                    </div>
                </div>
            }
            <div style="margin-left: 110px; margin-top: -36px;">
                <button class="btn btn-default waves-effect" style="float: right" onclick="escondeModal()">CANCELAR</button>
            </div>
        </div>
    </div>
</div>
<script>

    var usuarioLogado = sessionStorage.getItem("IdUsuarioLogado");

    $(document).ready(function () {
        $('input#input_text, textarea#textarea1').characterCounter();
        $('#Valor').mask("###.###,##", { reverse: true });
        $('.datepicker').pickadate({
            monthsFull: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            weekdaysFull: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
            weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            today: 'Hoje',
            clear: 'Limpar',
            close: 'Pronto',
            labelMonthNext: 'Próximo mês',
            labelMonthPrev: 'Mês anterior',
            labelMonthSelect: 'Selecione um mês',
            labelYearSelect: 'Selecione um ano',
            selectMonths: true,
            selectYears: 15,
            format: 'dd/mm/yyyy'
        });
    });
    
    $("#btnCriarCampanha").click(function () {

        if ($("#DescCampanha").val().trim().length <= 3) {
            erro("Descrição tem que estar entre 3 até 100 caracteres");
            return false;
        }

        var dataInput = $("#DataLimite").val() != "" ? new Date($("#DataLimite").val()) : "";
        if (dataInput == "" || dataInput < new Date()) {
            erro("Data Limite deve ser maior que hoje");
            return false;
        }

        if ($("#Valor").val() <= 0) {
            erro("O valor tem que ser válida");
            return false;
        }

        $.post('@Url.Action("CreateConfirmed", "Campanha")', {
            DescCampanha: $("#DescCampanha").val().trim(),
            DataLimite: $("#DataLimite").val(),
            ValorCampanha: $("#Valor").val(),
            IdCriador: usuarioLogado
        }).done(function () {
            escondeModal();
            sucesso("Campanha cadastrada com Sucesso!");
            buscaTabelaCampanha();
        }).fail(function (xhr) {
            erro(xhr.responseText);
        });
    });

</script>
