@model Hades.Domain.Entities.Votacao

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSemNavBar.cshtml";
}

<div class="row" style="margin-top: 12px">
    <div class="col s12">
        <div class="row">

            <h4>Votação</h4>

            @using (Html.BeginForm("CreateConfirmed", "Votacao"))
            {
                @Html.AntiForgeryToken()

                <div class="input-field col s12">
                    <input id="Titulo" name="Titulo" type="text" maxlength="20" value="@Model.Enquete" readonly="readonly">
                    <label for="Titulo">Titulo Enquete:</label>
                </div>

                <div class="form-horizontal">
                    <h4>Votacao</h4>
                    <div class="input-field col s12">
                        <input id="Justificativa" name="Justificativa" type="text" maxlength="150" value="@Model.Justificativa" readonly="readonly">
                        <label for="Justificativa">Justificativa:</label>
                    </div>

                    <div class="input-field col s12">
                        <p>
                            <input name="TipoVoto" type="radio" id="Favor" />
                            <label for="Favor">Favor</label>
                        </p>
                        <p>
                            <input name="TipoVoto" type="radio" id="Contra" />
                            <label for="Contra">Contra</label>
                        </p>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Votar" class="btn btn-confirm" style="border-radius: 20px;" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        if (@Model.TipoVoto)
            $("#Favor").prop("checked", true);
        else
            $("#Contra").prop("checked", true);
    });
</script>
