body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table td .btn-floating {
    width: 24px;
    height: 24px;
}

table td .material-icons {
    line-height: 25px;
    display: block;
    font-size: 1.1rem;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 5%;
}

h4 {
    text-align: center;
    /*font-family: Arial Rounded MT Bold;*/
    color: #b71c1c;
}

.btn-default {
    border-radius: 20px;
    background-color: #b71c1c;
}

.btn-confirm {
    border-radius: 20px;
    background-color: #1976d2;
    width: 135px;
}

.modal-formatada {
    display: none;
    margin-top: 0;
    height: auto;
    width: 470px;
    z-index: 1003;
    opacity: 1;
    transform: scaleX(1);
    border-radius: 15px;
    top: 10%;
    margin: 0 auto;
    min-height: 100px;
    padding: 1px;
}

.modal-formatada-detail {
    display: none;
    margin-top: 0;
    height: auto;
    width: 900px;
    z-index: 1003;
    opacity: 1;
    transform: scaleX(1);
    border-radius: 15px;
    top: 10%;
    margin: 0 auto;
    min-height: 100px;
    padding: 1px;
}

.text-box {
    padding-left: 3px;
}

input, textarea {
    max-width: 1000px;
}


td, th {
    padding: 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}


.picker__day {
    padding: 0;
}


.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}