body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table td .btn-floating {
    width: 24px;
    height: 24px;
}

table td .material-icons {
    line-height: 25px;
    display: block;
    font-size: 1.1rem;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 20%;
    left: 40%;
}

h4 {
    text-align: center; 
    font-family: Algerian; 
    color: #b71c1c;
}

.btn-default{
    border-radius: 20px; 
    background-color: #b71c1c; 
    margin-left: 30px;
}

.btn-confirm {
    border-radius: 20px; 
    background-color: #1976d2; 
    width:135px;
}

.modal-formatada{
    display: none; 
    height: auto; 
    width: 367px; 
    z-index: 1003; 
    opacity: 1; 
    transform: scaleX(1); 
    border-radius: 15px; 
    top:10%;
}
